.text_box1 {
    padding: 20px 100px;
    display: flex;
    flex-direction: column;
    background-color: #323232;
}

.title1 {
    font-weight: bolder;
    font-size: 20px;
    color: #ff8b58;
}

.img1 {
    padding: 20px 0px;
}

.box1 {
    padding: 10px;
    // border: 1px black solid;
    text-align: center;
    border-radius: 10px;
    // border: 1px solid;
    color: #9e9a9a;
}
