<div class="_mainBody_">
  <app-top-photo></app-top-photo>
  <div class="_innerPage_">
    <app-statistics></app-statistics>
    <app-top-page></app-top-page>
    <app-middle-page></app-middle-page>
    <div style="background-color: #323232; text-align: center; margin-top: 20px;">
        <span style="color: white;">This page is created by:Giga Jachvadze, Davit Lursmanashvili, Levan Dolidze, Giorgi Chaganava. <br> Copyright © --- All Rights Reserved.</span>
    </div>
  </div>
</div>
<!-- https://colibriwp.com/blog/website-footers/ -->